@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

#container {
  width: 1200px;
  margin: 0 auto;
}

header {
  width: 100%;
  height: 100px;
  background-color: #0077cc;
}

#logo {
  width: 250px;
  height: 100px;
  padding-left: 20px;
  line-height: 100px;

  float: left;
}

#logo > a > h1 {
  font-family: "Merienda", cursive;
  font-size: 40px;
  font-weight: 700;
  color: #fff;
  text-shadow: 0 -1px 0 #222;
}

nav {
  width: 900px;
  height: 100px;
  padding-top: 40px;

  float: right;
}

#top-menu {
  height: 60px;
}

#top-menu > li {
  float: left;
  position: relative;
}

#top-menu > li > a {
  display: block;
  padding: 20px 60px;

  font-weight: 600;
  color: #fff;
  text-shadow: 0 1px #0077cc;
}

#top-menu > li > a:hover {
  color: #000;
  text-shadow: 0 -1px #0077cc;
}

#top-menu > li > ul {
  width: 160px;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.6);

  position: absolute;
  left: 20px;

  display: none;  
}

#top-menu > li:hover > ul {
  display: block;
  z-index: 10;
}

#top-menu > li > ul > li {
  padding: 10px 10px 10px 30px;
}

#top-menu > li > ul > li > a {
  padding: 10px;

  font-size: 14px;
  color: #000;
}

#top-menu > li > ul > li > a:hover {
  color: #f00;
}

#top-menu > li > a > span {
  font-size: 0.5em;
}

#slide-show {
  clear: both;

  width: 100%;
  height: 300px;
  overflow: hidden;

  position: relative;
}

#slides {
  position: absolute;
}

#slides > img {
  width: 100%;

  float: left;
}

button {
  height: 100%;
  padding: 20px;
  border: none;
  font-size: 24px;
  font-weight: 800;
  color: #000;
  background-color: transparent;
  opacity: 0.5;

  position: absolute;
  top: 0;
}

#prev {
  left: 0;
}

#next {
  right: 0;
}

button:hover {
  color: #fff;
  background-color: #222;
  opacity: 0.6;
  cursor: pointer;
}

button:focus {
  outline: 0;
}

#contents {
  width: 100%;
  height: 300px;
  margin-top: 20px;
}

#tab-menu {
  width: 600px;
  height: 100%;
  margin-top: 10px;

  float: left;
}

#tab-menu input[type="radio"] {
  display: none;
}

#tab-menu label {
  display: inline-block;
  margin: 0;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #aaa;
  border: 1px solid transparent;
}

#tab-menu label:hover {
  color: #222;
  cursor: pointer;
}

#tab-menu input:checked + label {
  color: #b00;
  background-color: #eee;
  border: 1px solid #ddd;
}

.tab-content {
  padding: 20px 0 0;
  border-top: 1px solid #ddd;

  display: none;
}

.tab-content h2 {
  display: none;
}

#notice ul {
  margin-left: 30px;
  list-style: disc;
}

#notice ul li {
  font-size: 16px;
  line-height: 2.5;
}

#gallery ul li {
  display: inline;
}

#tab1:checked ~ #notice,
#tab2:checked ~ #gallery {
  display: block;
}

#links {
  width: 600px;
  height: 100%;
  margin-top: 15px;

  float: right;
}

#links ul {
  padding: 0;
  overflow: hidden;
}

#links ul li {
  width: 33%;
  margin: 10px 0;
  text-align: center;

  float: left;
}

#links ul li a span {
  display: block;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  border: 1px solid #ddd;
  border-radius: 50%;
  line-height: 150px;
}

#quick-icon1 {
  background-image: url("../images/icon-1.jpg");
}

#quick-icon2 {
  background-image: url("../images/icon-2.jpg");
}

#quick-icon3 {
  background-image: url("../images/icon-3.jpg");
}

#links ul li a p {
  margin-top: 15px;
  font-weight: 600;
  color: #666;
}

footer {
  width: 100%;
  height: 100px;
  border-top: 2px solid #222;
}

#bottom-menu {
  width: 100%;
  height: 20px;

  position: relative;
}

#bottom-menu ul {
  margin-top: 15px;
}

#bottom-menu ul li {
  padding: 5px 20px;
  border-right: 1px solid #ddd;

  float: left;
}

#bottom-menu ul li:last-child {
  border-right: none;
}

#bottom-menu ul li a,
#bottom-menu ul li a:visited {
  font-size: 15px;
  color: #666;
}

#sns {
  position: absolute;
  right: 0;
}

#sns ul li {
  padding: 5px;
  border: none;
}

#company {
  clear: both;

  margin-top: 25px;
  margin-left: 20px;
}

#company > p {
  font-size: 14px;
  color: #aaa;
}